.header{
    color: rgb(239, 14, 247);
}

.h2{
    color: rgb(253, 8, 233);
}

.parade{
    color: rgb(237, 241, 0);
}

span{
    color: rgb(73, 36, 240);
}

.razdvo{
    color: rgb(226, 223, 29);
}
#stages h2{
    color: chocolate;
}